<!-- https://vuejs.org/v2/guide/migration.html -->
<!-- https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance/ -->
<!DOCTYPE html>
<html>
    <head>
        <title>Hello Vue</title>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- production version, optimized for size and speed -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>

        <div id="app">
            {{ message }}
        </div>


        <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds 
                to see my dynamically bound title!
            </span>
        </div>


        <!-- Conditionals and Loops -->
        <div id="app-3">
            <span v-if="seen">Now you see me</span>
        </div>


        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>


        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>


        <div id="app-7">
            <ol>
            
              <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
              ></todo-item>
            </ol>
        </div>

        <!-- In large application needs to divide the whole app into a components
        to make development manageable. -->
        <!-- <div id="app">
            <app-nav></app-nav>
            <app-view>
              <app-sidebar></app-sidebar>
              <app-content></app-content>
            </app-view>
        </div> -->

        <script src="index.js"></script>
    </body>
</html>